.my-link{
    border: none;
    text-decoration: none;
    font-size: 18px;
    color: white;
}
.wellcome-div{
    display: flex;
    align-items: center;
    color: white;
}
.wellcome-span{
    color: aqua;
}